@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar tus estilos personalizados aquí, si es necesario */

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --font-montserrat: 'Montserrat', sans-serif;
  /* Agrega solo las variables necesarias para tu diseño */
}

body {
  font-family: var(--font-montserrat);
}

/* Estilos para pantallas pequeñas (móviles y tablets) */
@media (max-width: 1024px) {
  body {
    display: none; 
    /* Ocultar el contenido en pantallas pequeñas */
  }
  
}